<% provide(:title, "Contact") %>
<h2> Bui Quoc Dat MSSV:20111366</h2>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>